@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-main: "Montserrat", sans-serif;
}
#root {
  background-color: #f0f3f9;
}
.App {
  overflow: hidden;
}
.App .content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 1366px;
  margin: auto;
}
.display-none {
  display: none;
}
